extends layout

block content
  header.uni
    .info 
      h1 Todos los Universos disponibles 
      p Ten en cuenta que iremos añadiendo más poco a poco 
  article.test-content 
    .tests 
      section.test-item 
       .top 
         img(src='./images/sw-test-item.jpeg')
         .info 
          a(href='/universos/starwars') Test de Star Wars
          p ¿Jedi o Sith?
          p Encuentra el camino de la fuerza y lucha por tus ideas 
      section.test-item 
       .top 
         img(src='./images/lodr-test-item.jpeg')
         .info 
          a(href='/universos/lordoftherings') Test del Señor de los Anillos
          p Mago, Elfo, Hobbit u Orco...
          p El Anillo Único está en tus manos, ¿qué harás? 
      section.test-item 
       .top 
         img(src='./images/hp-test-item.jpg')
         .info 
          a(href='/universos/harrypotter') Test de Harry Potter
          p Gryffindor, Ravenclaw, Hafflepuff o Slytherin
          p La varita escoge al mago, Señor... 
      section.test-item
        .top 
          img(src='./images/perro-index.jpg') 
          .info 
            a(href='https://www.leagueoflegends.com/es-es/') Puede...
            p Próximamente...
            p Quizá uno de League of Legends...
  