extends layout 

block content 
    header.dev
        .info 
            h1 ALERTA 
            p Esta página se encuentra todavía en desarrollo
            p Por favor, sea 
                em paciente 